.card-destino .card-title {

    background-position: 0 5.5px;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    /* padding-left: 2rem; */
    text-indent: 2rem;
}

.card-disney .card-title {
    background-image: url(../img/simbolos/mickey-mouse.png);
}

.card-noronha .card-title {
    background-image: url(../img/simbolos/praia.png);
}

.card-america-sul .card-title {
    background-image: url(../img/simbolos/america-do-sul.png);
}

.card-europa .card-title {
    background-image: url(../img/simbolos/marco.png);
}

.card-europa .card-body {
    display: flex;
    flex-direction: column;
}

.card-europa .card-body .test {
    height: 100%;
}

.btn-news {
    height: calc(3.5rem + calc(var(--bs-border-width)* 2));
    min-height: calc(3.5rem + calc(var(--bs-border-width)* 2));
}

.carousel-indicators {
    align-items: baseline;
}

.carousel-indicators button {
    width: 1rem;
    height: 1rem;
}

.carousel-indicators .active {
    height: 1.5rem;
}
.mapa-brasil{
   width: 72px;
   padding: 3px;
   box-sizing: border-box;
}
/*
#mais-procurados ul li{
    background: #000;
}

#mais-procurados ul li:before,
#mais-procurados ul li:after{
    background: #000;
    content: "oi, tudo bem?";
    color: #fff;
    border-radius: .5rem .5rem 0 0 ;
    width: 100%;
    display: block;
    padding: .25rem;
    text-align: center;
}
#mais-procurados ul li:nth-child(3n-2):before{
    background-color: blue;
}
#mais-procurados ul li:nth-child(2):after{
    content: "até logo";
    border-radius: 0 0 .5rem .5rem;
} */